---
layout: home
landing_title: hello, world
description: I am Emily Zeng. <br> Mechatronics Engineering Student <br> University of Waterloo.
landing_links: [
  {action: check out, name: This Link, link: https://www.google.com/},
  {action: check out, name: This Link, link: https://www.google.com/}
]
---
<div>
  {% for work in site.work %}
    {% if work.show_in_home %}
      <div class="row">
        <div class="col-6">
          {{work.title}}
        </div>
        <div class="col-6">
          <img src="{{work.image_url}}">
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div>
  {% for project in site.projects %}
    {% if project.show_in_home %}
      <div class="row">
        <div class="col-6">
          {{project.title}}
        </div>
        <div class="col-6">
          <img src="{{project.image_url}}">
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
