<div class="row credentials" id="work">
  <div class="row heading top_padding">
    <h1> Work </h1>
  </div>
  <ul class="credentials-list">
    {% assign ordered_work = (site.work | sort:"number") %}
    {% for work in ordered_work reversed %}
      {% if work.show_in_home%}
      <li>
        <div class="row">
          <div class="col-6">
            <span class="post-meta">{{work.date_string}}</span>
            <h2>{{work.title}}</h2>
            <h3>{{work.job_title}}</h3>
            <br>
            <h4>{{work.description}}</h4>
            <br>
            <ul class="link-list">
              {% for link in work.links %}
                <li><a class="button button-light" href="{{link.url}}">{{link.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-6">
            <img src="{{work.image_url}}">
          </div>
        </div>
      </li>
      <br>
      {% endif %}
    {% endfor %}
  </ul>
</div>
