<div class="row credentials" id="projects">
    <div class="row heading">
        <h1> Projects </h1>
    </div>
    <ul class="credentials-list">
        {% assign ordered_projects = (site.projects | sort:"number") %}
        {% for project in ordered_projects reversed %}
            <div class="row">
                <div class="col-6">
                    <span class="post-meta">{{project.date | date: "%b %Y"}}</span>
                    <div class="row">
                        <h2 style="display: inline">{{project.title}}</h2>
                        <h2 style="display: inline">
                            {% if project.title and project.competition %}
                            &nbsp - &nbsp
                            {% endif %}
                        </h2>
                        <h3 style="display: inline">{{project.competition}}</h3>
                    </div>
                    <br>
                    <h4>{{project.description}}</h4>
                    <br>
                    <ul class="link-list">
                        {% for link in project.links %}
                        <li><a class="button button-light" href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6">
                    <img src="{{project.image_url}}">
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
</div>
