<div class="landing">
  <div class="overlay"></div>
  <div class="gradient-overlay"></div>
  <div class="landing-content">
    <div class="wrapper">
      {%- if page.landing_title -%}
        <h3>{{ page.landing_title }}</h3>
      {%- endif -%}
      {%- if page.description -%}
        <h1>{{ page.description }}</h1>
      {%- endif -%}
      {%- if page.landing_links.size > 0 -%}
        <ul class="landing-section-links">
          {%- for landing_link in page.landing_links -%}
            <li>
              {{landing_link.action}}
              <a href="{{landing_link.link}}"> {{landing_link.name}} </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>
