---
---

@import "minima";
@import "simple-grid";
@import "landing";
@import "credentials";
@import "button";

html {
  scroll-behavior: smooth;
}

.link-list li {
  display: inline-block;

  &:not(:last-child):after {
   content: ' | ';
 }
}
